[submodule "build"]
	path = build
	url = https://github.com/gesinn-it-pub/docker-compose-ci.git
[submodule "docs/gesinn-it-docs-master-pub"]
	path = docs/gesinn-it-docs-master-pub
	url = https://github.com/gesinn-it-pub/gesinn-it-docs-master-pub
